<p id="notice"><%= notice %></p>

<h1>Listing Book Requests</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Lender</th>
      <th>Borrower</th>
      <th>Loan period</th>
      <th>Approved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_requests.each do |book_request| %>
      <tr>
        <td><%= book_request.book_id %></td>
        <td><%= book_request.lender_id %></td>
        <td><%= book_request.borrower_id %></td>
        <td><%= book_request.loan_period %></td>
        <td><%= book_request.approved %></td>
        <td><%= link_to 'Show', book_request %></td>
        <td><%= link_to 'Edit', edit_book_request_path(book_request) %></td>
        <td><%= link_to 'Destroy', book_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book request', new_book_request_path %>
