<!DOCTYPE html>
<html lang="en">
<head>
  <title>CrowdLib</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container wrapper">
    <div class="row first-row">
      <div class="col-md-3 col-sm-3 col-xs-3 logo logo-image" id="logo" onclick='document.location="/";'>
        <%= image_tag("logo.png", alt: "CrowdLib logo") %>
        CrowdLib
      </div>
      <div class="col-md-9 col-sm-3 col-xs-3 pull-right nav-right">
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item"><%= link_to('Add a book!', "/book/new") %></li>
          <% if signed_in? %>
          <li class="nav-item"><%= link_to('Profile', "/profile") %></li>
          <li class="nav-item"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
          <li class="nav-item"><%= link_to('Login', new_user_session_path) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="content container-fluid <% unless @trending %> pad-up <% end %>">
      <div class="row-fluid">
        <% if notice %>
          <div class="col-md-12">
          </div>
        <% end %>
      </div>
      <% if @trending %>
      <div class="row-fluid header">
        <%= render "shared/trending" %>
      </div> 
      <% end %>
      <div class="row-fluid page"> 
        <%= yield %>
      </div>
    </div>
    <div class="bottom">
      <div class="container">
        <div class="row footer">
  	  <div class="col-md-12">
	  </div>
        </div>
      </div>
    </div> 
  </div>
</body>
</html>
